/* = normalize.css v3.0.1 | MIT License | git.io/normalize
/*------------------------*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

menu {
  padding: 0;
  margin: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* = mixins
/*------------------------*/
/* = icons
/*------------------------*/
.icons-sprite, .icons-check, .icons-helper, .helper:before, .icons-music, .main-wrapper > header nav .nav__music:after, .icons-people, .icons-search {
  background-image: url('../img/icons-s902c168b6f.png');
  background-repeat: no-repeat;
}

.icons-check {
  background-position: 0 0;
  height: 11px;
  width: 12px;
}

.icons-helper, .helper:before {
  background-position: 0 -16px;
  height: 11px;
  width: 8px;
}

.icons-music, .main-wrapper > header nav .nav__music:after {
  background-position: 0 -32px;
  height: 22px;
  width: 22px;
}

.icons-people {
  background-position: 0 -59px;
  height: 10px;
  width: 9px;
}

.icons-search {
  background-position: 0 -74px;
  height: 11px;
  width: 11px;
}

.bg-sprite, .bg-button, .bg-head, .bg-input {
  background-image: url('../img/bg-s9f363e83b9.png');
  background-repeat: no-repeat;
}

.bg-button {
  background-position: 0 0;
  height: 24px;
  width: 1px;
}

.bg-head {
  background-position: 0 -29px;
  height: 39px;
  width: 1px;
}

.bg-input {
  background-position: 0 -73px;
  height: 24px;
  width: 1px;
}

.icons-sprite, .icons-check, .icons-helper, .helper:before, .icons-music, .main-wrapper > header nav .nav__music:after, .icons-people, .icons-search {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.bg-sprite, .bg-button, .bg-head, .bg-input {
  background-repeat: repeat !important;
}

/* = common styles
/*------------------------*/
a {
  color: #2b587a;
  text-decoration: none;
}
a.gray {
  color: #777777;
}
a.gray:hover {
  color: #878787;
}

hr {
  background-color: #e7eaed;
  border-width: 0;
  color: #e7eaed;
  height: 1px;
  line-height: 0;
  page-break-after: always;
  text-align: center;
  width: 100%;
}

.img-cover {
  display: block;
  font-size: 0;
}
.img-cover img {
  width: 100%;
  height: auto;
}

.column {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.columns-block,
.columns-block-f {
  line-height: 0;
  font-size: 0;
  position: relative;
}
.columns-block > .column,
.columns-block > .column,
.columns-block-f > .column,
.columns-block-f > .column {
  font: 11px tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}

.columns-block-f > .column {
  float: left;
}

.columns-block.five > .column,
.columns-block-f.five > .column {
  width: 20%;
}

.columns-block.four > .column,
.columns-block-f.four > .column {
  width: 25%;
}

.columns-block.three > .column,
.columns-block-f.three > .column {
  width: 33.3%;
}
.columns-block.three > .column:last-child,
.columns-block-f.three > .column:last-child {
  width: 33.4%;
}

.columns-block.two > .column,
.columns-block-f.two > .column {
  width: 50%;
}

.min-text {
  font-size: 13px;
}

.center {
  text-align: center;
}

.ta-r {
  text-align: right;
}

/* = containers
/*------------------------*/
html,
body,
.main {
  height: 100%;
  position: relative;
}

body {
  font: 11px tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  color: #000;
}

.main-wrapper {
  width: 790px;
  margin: 0 auto;
}

/* = forms
/*------------------------*/
input {
  padding: 0;
  margin: 0;
}

.bg-input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 120px;
  border: 0;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #416489;
  border-right: 1px solid #416489;
  font-size: 11px;
}

::-webkit-input-placeholder {
  color: #7c90a6;
}

:-moz-placeholder {
  color: #7c90a6;
}

::-moz-placeholder {
  color: #7c90a6;
}

:-ms-input-placeholder {
  color: #7c90a6;
}

form label {
  color: #000000;
  line-height: 14px;
  display: inline-block;
  vertical-align: top;
}

.form__row {
  padding-top: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="text"],
input[type="password"] {
  height: 20px;
  line-height: 20px;
  padding: 0 .4em;
  border: 1px solid #c0cad5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"].error, input[type="text"].error:focus,
input[type="password"].error,
input[type="password"].error:focus {
  outline: 1px solid #edc67b;
}

.btn {
  border: 0;
  outline: 0;
  width: auto;
  border-left: 1px solid #4e6f93;
  border-right: 1px solid #4e6f93;
  padding: 0 15px;
  color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn:hover {
  opacity: .9;
}

/* = header
/*------------------------*/
.main-wrapper > header {
  position: relative;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-bottom-color: #4a6a91;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-color: #446489;
  border-right-color: #446489;
  padding-left: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
.main-wrapper > header > .column {
  height: 40px;
  line-height: 40px;
}
.main-wrapper > header nav {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 70px;
}
.main-wrapper > header nav .column {
  font-weight: bold;
  padding: 0 10px;
  line-height: 40px;
  color: #ffffff;
}
.main-wrapper > header nav .column:hover {
  background: rgba(0, 31, 64, 0.17);
}
.main-wrapper > header nav .nav__music {
  position: relative;
  padding-right: 36px;
}
.main-wrapper > header nav .nav__music:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
}

.logo img {
  margin-top: 7px;
}

.input-wrapper {
  position: relative;
  margin-left: 12px;
  font-size: 11px;
}
.input-wrapper .icons-search {
  position: absolute;
  top: 16px;
  left: 6px;
}
.input-wrapper .icons-people {
  position: absolute;
  top: 15px;
  right: 6px;
}
.input-wrapper .people-count {
  position: absolute;
  top: 15px;
  right: 18px;
  line-height: 11px;
  color: #899baf;
  font-size: 11px;
}

/* = Side-bar
/*------------------------*/
.border-item {
  border-right: 1px solid #d9e0e7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.border-item:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #f2f2f2;
}

.side-bar {
  float: left;
  position: relative;
  padding: 5px;
  width: 145px;
}
.side-bar nav {
  margin-bottom: 10px;
}
.side-bar footer {
  font-size: 10px;
}

a.side-bar__li {
  display: block;
  color: #2b587a;
  font-weight: normal;
  padding-left: 5px;
  line-height: 20px;
}
a.side-bar__li.side-bar__li_double, a.side-bar__li.side-bar__li_edit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
a.side-bar__li.side-bar__li_double:first-child {
  padding-right: 20px;
}
a.side-bar__li.side-bar__li_edit {
  color: gray;
  padding-right: 5px;
}
a.side-bar__li:hover {
  background: #e1e7ed;
}

.side-bar__banner {
  position: relative;
}
.side-bar__banner:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 118px;
  height: 1px;
  background: #dce3e9;
}

/* = content
/*------------------------*/
.content {
  margin-left: 145px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
}

.tabs__ul {
  margin: 0;
  padding: 10px 0px 0 10px;
  border-bottom: 1px solid #597da3;
}

.columns-block > .tabs__li {
  padding: 0 10px;
  margin: 0 5px;
  cursor: pointer;
  line-height: 25px;
  color: #597da3;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.columns-block > .tabs__li:hover {
  background: #e1e7ed;
}
.columns-block > .tabs__li.active {
  background: #597da3;
  color: #ffffff;
}

.tabs__body {
  background: #f7f7f7;
}
.tabs__body:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.tabs__body a:hover {
  text-decoration: underline;
}
.tabs__body input[type="text"] {
  width: 150px;
}

.tabs__body-container {
  margin: 0 auto;
  width: 400px;
}

.tabs__block {
  padding-top: 20px;
}

.tabs__title {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  border-bottom: 1px solid #b9c4da;
  margin-bottom: 5px;
  color: #2b587a;
}
.tabs__title.tabs__title_big {
  margin-bottom: 15px;
}

.tabs__column-right {
  text-align: left;
  width: 260px;
}
.tabs__column-right.tabs__column-right_pulled {
  margin-left: 140px;
}

.tabs__column-left {
  padding-right: 15px;
}

label.tabs__column-left {
  color: #555555;
}

.helper {
  position: absolute;
  width: 210px;
  top: -25px;
  right: -110px;
  background: #ffffff;
  border: 1px solid #96aabe;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.helper:before {
  left: -8px;
  top: 50%;
  margin-top: -5px;
  content: "";
  position: absolute;
}
